@using EasyERP.Helpers
@model EasyERP.Models.Customer

@{
    ViewBag.Title = "Klient - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("edycja", "Edit", "Customer", new { id=Model.Id }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>Nazwa</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td>@Html.DisplayFor(model => model.ZipCode)</td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td>Ulica</td>
            <td>@Html.DisplayFor(model => model.Street)</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Html.DisplayFor(model => model.Telephone)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </tbody>
</table>
