@using EasyERP.Helpers
@model EasyERP.Models.Customer

@{
    ViewBag.Title = "Klient - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("edycja", "Edit", "Customer", new { id=Model.Id }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SurName)</td>
            <td>@Html.DisplayFor(model => model.SurName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.ZipCode)</td>
            <td>@Html.DisplayFor(model => model.ZipCode)</td>
        </tr>
        <tr>
           <td>@Html.DisplayNameFor(model => model.City)</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Street)</td>
            <td>@Html.DisplayFor(model => model.Street)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Telephone)</td>
            <td>@Html.DisplayFor(model => model.Telephone)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Data zamówienia</th>
            <th>Stan zamówienia</th>
            <th>Kontrolki</th>
        </tr>
    </thead>

    <tbody>
@foreach (var order in Model.Orders) {
        <tr class="@OrderHelpers.GetStateClass(order.State)">
            <td>@Html.DisplayFor(modelItem => order.Id)</td>
            <td>@Html.DisplayFor(modelItem => order.ProductTypeName)</td>
            <td>@Html.DisplayFor(modelItem => order.ProductName)</td>
            <td>@PriceFormatHelper.DisplayFormatPrice(order.ProductPrice)</td>
            <td>@Html.DisplayFor(modelItem => order.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => order.State)</td>
            <td>
                @Html.ActionLink("szczegóły", "Details", "Order", new { id = order.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
