@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Customer>

@{
    ViewBag.Title = "Klienci";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<div class="search">
    @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
    {
        @Html.TextBox("name")
        @Html.TextBox("surename")
        <input type="submit" value="Szukaj" />
    }
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Aktywowany</th>
            <th>Kontrolki</th>
        </tr>
    </thead>

    <tbody>
@{int i = 0;}
@foreach (var customer in Model) {
    <tr class="row@(i % 2)">
        <td>@Html.DisplayFor(modelItem => customer.Id)</td>
        <td>@Html.DisplayFor(modelItem => customer.Name)</td>
        <td>@Html.DisplayFor(modelItem => customer.SurName)</td>
        <td>@Html.DisplayFor(modelItem => customer.Activation)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id=customer.Id }) |
            @Html.ActionLink("edycja", "Edit", new { id=customer.Id })
        </td>
    </tr>
i = i + 1;
}
    </tbody>
</table>
