@model EasyERP.Models.LocalPasswordModel

<p>
    Nie posiadasz lokalnego hasła dla tej strony. Dodaj lokalne
    hasło żebyś mógł się logować bez używania zewnętrznej usługi.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formularz ustawiania hasła:</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Ustaw hasło" />
    </fieldset>
}
