@model EasyERP.Models.LoginModel

@{
    ViewBag.Title = "Zaloguj";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<h2>Zaloguj się.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Formularz logowania</legend>
        <ol>
            <li>
                @Html.Label("Login")
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.Label("Hasło")
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.Label("Zapamiętaj mnie?", new { @class = "checkbox" })
            </li>
            <li>
                <div class="btn-group">
                <button class="btn" type="submit">Zaloguj</button>
                </div>
            </li>
            <div class="span10" style="height: 20px"></div>
            <li>
                @Html.ActionLink("Zarejestruj", "Register")
            </li>
            <li>
                @Html.ActionLink("Resetuj hasło", "ResetForm")
            </li>
        </ol>
        <div class="span10" style="height: 20px"></div>
        
    </fieldset>
    <div class="span10" style="height: 20px"></div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
