@model EasyERP.Models.Customer
@{
    ViewBag.Title = "Zarejestruj - Krok drugi";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Załóż nowe konto - Krok drugi</h2>
</hgroup>
@if (Request.IsAuthenticated) {
using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Formularz rejestracji</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
            </li>
            <li>
                @Html.LabelFor(m => m.ZipCode)
                @Html.TextBoxFor(m => m.ZipCode)
            </li>
        </ol>
                <ol>
            <li>
                @Html.LabelFor(m => m.Street)
                @Html.TextBoxFor(m => m.Street)
            </li>
            <li>
                @Html.LabelFor(m => m.Telephone)
                @Html.TextBoxFor(m => m.Telephone)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
        </ol>
        <input type="submit" value="Create" />
    </fieldset>
}
} else {
<h2>Ooops cos poszlo nie tak! - musisz byc zalogowany!</h2>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
