@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Product>
<script src="~/Scripts/bootstrap-carousel.js"></script>
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Witaj!</h1>
            </hgroup>
            <p>
                Coś tu trzbe będzie dodać
            </p>
        </div>
              <div id="myCarousel" class="carousel slide" data-interval="5000" data-pause="hover">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="active item">
                    <a href="~/Products/List/1/1">
                    <img src="/Content/images/armchair.png" alt="">
                    <div class="carousel-caption">
                      <h4>First Thumbnail label</h4>
                      <p>Chose from our collection of coches</p>
                    </div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="~/Products/List/1/2">
                    <img src="/Content/images/bed.png" alt="">
                    <div class="carousel-caption">
                      <h4>Łóżka</h4>
                      <p>Chose from a varierity of beds .</p>
                    </div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="~/Products/List/1/3">
                    <img src="/Content/images/coach.png" alt="">
                    <div class="carousel-caption">
                      <h4>Third Thumbnail label</h4>
                      <p>Chose from our collection of archairs.</p>
                    </div>
                    </a>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
<div class="row">
<div class="span2">
@{int i = 1;}
<h4>@Html.ActionLink("Kategorie:", "../Products/Index")</h4>
    <ul>
        @foreach (var category in ProductHelpers.GetCategories())
        { <li>@Html.ActionLink(@ProductHelpers.DisplayCategoryName(category), "../Products/List/1/"+i)</li>
            i = i + 1;
        }
    </ul>
</div>
<div class="span9">
    <h3>Ostatnio dodane produkty:</h3>
@foreach (var product in Model) {
    <div class="span3" style="margin-left: 0px">
            <div class="span3"><h4>@product.Name</h4></div>
            <div class="span3"><p>@Html.ActionLink(" ", "../Products/Details", new { id = product.Id }, new { style = "background: url('" + Url.Content("~/Content/images/bed.png") + "') no-repeat center right; display:block; height:200px; width:200px;" }) @product.ImageName</p></div>
            <div class="span3"><p>Cena: @PriceFormatHelper.DisplayFormatPrice(product.Price)</p></div>
            <div class="span3"><p>@Html.ActionLink("Więcej", "../Products/Details", new { id=product.Id })</div>
    </div>
}
</div>
</div>