<!DOCTYPE html>

<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - EasyERP</title>
        @Styles.Render("~/Content/Admin/Layout/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <h1>Panel Administracyjny</h1>
        </header>

        <nav>
            <ul>
                <li>@Html.ActionLink("Dostawcy", "Index", "Supplier")</li>
                <li>@Html.ActionLink("Materiały", "Index", "Material")</li>
                <li>@Html.ActionLink("Produkty", "Index", "Product")</li>
                <li>@Html.ActionLink("Zamówienia", "Index", "Order")</li>
                <li>@Html.ActionLink("Klienci", "Index", "Customer")</li>
            </ul>
        </nav>

        @if (EasyERP.Helpers.FlashMessageHelper.IsMessage(TempData)) {
            @EasyERP.Helpers.FlashMessageHelper.DisplayMessage(TempData)
        }

        <section>
            <header>
                <h2>@ViewBag.Title</h2>
            </header>

            <div>
                @RenderSection("featured", required: false)
                @RenderBody()
            </div>
        </section>

        <footer>
            <p>&copy; @DateTime.Now.Year - ???</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
