@using EasyERP.Helpers;
@model EasyERP.Models.Material

@{
    ViewBag.Title = "Materiał - Nowy";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SupplierId)

<div class="actions">
        <input type="submit" value="Zapisz" class="btn"/> | <input type="reset" value="Reset" class="btn"/>
</div>

<table class="cu-record">
    <tbody>
        <tr>
            <td class="title"><label>Typ</label></td>
            <td>@Html.DropDownListFor(model => model.MaterialTypeId , MaterialHelpers.GetSelectList(), "-- rodzaje --")</td>
            <td>@Html.ValidationMessageFor(model => model.MaterialTypeId)</td>
        </tr>
        <tr>
            <td class="title"><label>Nazwa</label></td>
            <td>@Html.EditorFor(model => model.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td class="title"><label>Cena</label></td>
            <td>@Html.EditorFor(model => model.Price)</td>
            <td>@Html.ValidationMessageFor(model => model.Price)</td>
        </tr>
        <tr>
            <td class="title"><label>Zdjęcie</label></td>
            <td>@Html.EditorFor(model => model.ImageName)</td>
            <td>@Html.ValidationMessageFor(model => model.ImageName)</td>
        </tr>
        <tr>
            <td class="title"><label>Dostępność</label></td>
            <td>@Html.EditorFor(model => model.Availability)</td>
            <td>@Html.ValidationMessageFor(model => model.Availability)</td>
        </tr>
    </tbody>
</table>
}
