@using EasyERP.Helpers
@model EasyERP.Models.Material

@{
    ViewBag.Title = "Materiał - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("pokaż szczełóły dostawcy", "Details", "Supplier", new { id = Model.SupplierId }, null)</li>
        <li>@Html.ActionLink("edycja", "Edit", "Material", new { id = Model.Id }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>


<table class="display-record">
    <tbody>
        <tr>
            <td>Typ</td>
            <td>@Html.DisplayFor(model => model.Type.Name)</td>
        </tr>
        <tr>
            <td>Nazwa</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Dostawca</td>
            <td>@Html.DisplayFor(model => model.Supplier.Name)</td>
        </tr>
        <tr>
            <td>Cena</td>
            <td>@PriceFormatHelper.DisplayFormatPrice(Model.Price)</td>
        </tr>
        <tr>
            <td>Zdjęcie</td>
            <td>@Html.DisplayFor(model => model.ImageName)</td>
        </tr>
        <tr>
            <td>Dostępność</td>
            <td>@Html.DisplayFor(model => model.Availability)</td>
        </tr>
    </tbody>
</table>
