@using EasyERP.Helpers;
@model EasyERP.Models.Material

@{
    ViewBag.Title = "Materiał - Edycja";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.SupplierId)
    @Html.HiddenFor(model => model.CurrentVersion)

<div class="actions">
	<ul>
        <li><input type="submit" value="Zapisz" /></li>
        <li><input type="reset" value="Reset" /></li>
	</ul>
</div>

<table class="cu-record">
    <tbody>
        <tr>
            <td class="title"><label>Typ</label></td>
            <td>@Html.DropDownListFor(model => model.Type , MaterialHelpers.GetSelectList(), "-- rodzaje --")</td>
            <td>@Html.ValidationMessageFor(model => model.Type)</td>
        </tr>
        <tr>
            <td class="title"><label>Nazwa</label></td>
            <td>@Html.EditorFor(model => model.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td class="title"><label>Cena</label></td>
            <td>@Html.EditorFor(model => model.Price)</td>
            <td>@Html.ValidationMessageFor(model => model.Price)</td>
        </tr>
        <tr>
            <td class="title"><label>Zdjęcie</label></td>
            <td>@Html.EditorFor(model => model.ImageName)</td>
            <td>@Html.ValidationMessageFor(model => model.ImageName)</td>
        </tr>
        <tr>
            <td class="title"><label>Dostępność</label></td>
            <td>@Html.EditorFor(model => model.Availability)</td>
            <td>@Html.ValidationMessageFor(model => model.Availability)</td>
        </tr>
    </tbody>
</table>
}
