@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Material>

@{
    ViewBag.Title = "Materiały";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dostępność</th>
            <th>Kontrolki</th>
        </tr>
    </thead>

    <tbody>
@foreach (var material in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => material.Id)</td>
        <td>@MaterialHelpers.DisplayTypeName(material.Type)</td>
        <td>@Html.DisplayFor(modelItem => material.Name)</td>
        <td>@PriceFormatHelper.DisplayFormatPrice(material.Price)</td>
        <td>@Html.DisplayFor(modelItem => material.Availability)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id = material.Id }) |
            @Html.ActionLink("edycja", "Edit", new { id = material.Id })
        </td>
    </tr>
}
    </tbody>
</table>
