@model EasyERP.Models.Supplier

@{
    ViewBag.Title = "Dostawca - Nowy";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

<div class="actions">
	<ul>
        <li><input type="submit" value="Zapisz" /></li>
        <li><input type="reset" value="Reset" /></li>
	</ul>
</div>

<table class="cu-record">
    <tbody>
        <tr>
            <td class="title"><label>NIP</label></td>
            <td>@Html.EditorFor(model => model.NIP)</td>
            <td>@Html.ValidationMessageFor(model => model.NIP)</td>
        </tr>
        <tr>
            <td class="title"><label>Nazwa</label></td>
            <td>@Html.EditorFor(model => model.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td class="title"><label>Kod pocztowy</label></td>
            <td>@Html.EditorFor(model => model.ZipCode)</td>
            <td>@Html.ValidationMessageFor(model => model.ZipCode)</td>
        </tr>
        <tr>
            <td class="title"><label>Miasto</label></td>
            <td>@Html.EditorFor(model => model.City)</td>
            <td>@Html.ValidationMessageFor(model => model.City)</td>
        </tr>
        <tr>
            <td class="title"><label>Ulica</label></td>
            <td>@Html.EditorFor(model => model.Street)</td>
            <td>@Html.ValidationMessageFor(model => model.Street)</td>
        </tr>
        <tr>
            <td class="title"><label>Telefon</label></td>
            <td>@Html.EditorFor(model => model.Telephone)</td>
            <td>@Html.ValidationMessageFor(model => model.Telephone, "Proszę wpisać poprawny telefon.")</td>
        </tr>
        <tr>
            <td class="title"><label>Email</label></td>
            <td>@Html.EditorFor(model => model.Email)</td>
            <td>@Html.ValidationMessageFor(model => model.Email, "Proszę wpisać poprawny email.")</td>
        </tr>
        <tr>
            <td class="title"><label>Konto bankowe</label></td>
            <td>@Html.EditorFor(model => model.BankAccount)</td>
            <td>@Html.ValidationMessageFor(model => model.BankAccount)</td>
        </tr>
    </tbody>
</table>
}
