@using EasyERP.Helpers
@model EasyERP.Models.Supplier

@{
    ViewBag.Title = "Dostawca - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("dodaj materiał", "Create", "Material", new { SupplierId = Model.Id }, null)</li>
        <li>@Html.ActionLink("edycja", "Edit", "Supplier", new { id = Model.Id }, null)</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>NIP</td>
            <td>@Html.DisplayFor(model => model.NIP)</td>
        </tr>
        <tr>
            <td>Nazwa</td>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td>@Html.DisplayFor(model => model.ZipCode)</td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td>@Html.DisplayFor(model => model.City)</td>
        </tr>
        <tr>
            <td>Ulica</td>
            <td>@Html.DisplayFor(model => model.Street)</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Html.DisplayFor(model => model.Telephone)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>Konto bankowe</td>
            <td>@Html.DisplayFor(model => model.BankAccount)</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dostępność</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

@foreach (var material in Model.Materials) {
        <tr>
            <td>@Html.DisplayFor(modelItem => material.Id)</td>
            <td>@Html.DisplayFor(modelItem => material.Name)</td>
            <td>@Html.DisplayFor(modelItem => material.Price)</td>
            <td>@Html.DisplayFor(modelItem => material.Availability)</td>
            <td>
                @Html.ActionLink("szczegóły", "Details", "Material", new { id = material.Id }, null)
            </td>
        </tr>
}
    </tbody>
</table>
