@using EasyERP.Helpers
@model EasyERP.Areas.Admin.ViewModels.SupplierDetailsModel

@{
    ViewBag.Title = "Dostawca - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("edycja", "Edit", "Supplier", new { id=Model.Supplier.Id }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>NIP</td>
            <td>@Html.DisplayFor(model => model.Supplier.NIP)</td>
        </tr>
        <tr>
            <td>Nazwa</td>
            <td>@Html.DisplayFor(model => model.Supplier.Name)</td>
        </tr>
        <tr>
            <td>Kod pocztowy</td>
            <td>@Html.DisplayFor(model => model.Supplier.ZipCode)</td>
        </tr>
        <tr>
            <td>Miasto</td>
            <td>@Html.DisplayFor(model => model.Supplier.City)</td>
        </tr>
        <tr>
            <td>Ulica</td>
            <td>@Html.DisplayFor(model => model.Supplier.Street)</td>
        </tr>
        <tr>
            <td>Telefon</td>
            <td>@Html.DisplayFor(model => model.Supplier.Telephone)</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Html.DisplayFor(model => model.Supplier.Email)</td>
        </tr>
        <tr>
            <td>Konto bankowe</td>
            <td>@Html.DisplayFor(model => model.Supplier.BankAccount)</td>
        </tr>
    </tbody>
</table>

<table class="display-records">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dostępność</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

@{int i = 0;}
@foreach (var material in Model.Materials) {
        <tr class="row@(i % 2)">
            <td>@Html.DisplayFor(modelItem => material.Id)</td>
            <td>@Html.DisplayFor(modelItem => material.Name)</td>
            <td>@Html.DisplayFor(modelItem => material.Price)</td>
            <td>@Html.DisplayFor(modelItem => material.Availability)</td>
            <td>
                @Html.ActionLink("szczegóły", "Details", "Material", new { id = material.Id }, null)
            </td>
        </tr>
    i = i + 1;
}
    </tbody>
</table>
