@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Supplier>

@{
    ViewBag.Title = "Dostawcy";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("dodaj dostawcę", "create", "Supplier")</li>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Kontrolki</th>
        </tr>
    </thead>

    <tbody>

@foreach (var supplier in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => supplier.Id)</td>
        <td>@Html.DisplayFor(modelItem => supplier.Name)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id=supplier.Id }) |
            @Html.ActionLink("edycja", "Edit", "Supplier", new { id=supplier.Id }, null)
        </td>
    </tr>
}
    </tbody>
</table>
