@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Supplier>

@{
    ViewBag.Title = "Dostawcy";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<table class="display-records">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@{int i = 0;}
@foreach (var supplier in Model) {
    <tr class="row@(i % 2)">
        <td>@Html.DisplayFor(modelItem => supplier.Id)</td>
        <td>@Html.DisplayFor(modelItem => supplier.Name)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id=supplier.Id }) |
            @Html.ActionLink("edycja", "Edit", "Supplier", new { id=supplier.Id }, null)
        </td>
    </tr>
i = i + 1;
}
    </tbody>
</table>
