@using EasyERP.Helpers;
@model EasyERP.Models.Product

@{
    ViewBag.Title = "Produkt - Nowy";
}

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
<table class="cu-record">
    <tbody>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.TypeId)</label></td>
            <td>@Html.DropDownListFor(model => model.TypeId, ProductHelpers.GetSelectList())</td>
            <td>@Html.ValidationMessageFor(model => model.TypeId)</td>
        </tr>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.Name)</label></td>
            <td>@Html.EditorFor(model => model.Name)</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.Description)</label></td>
            <td>@Html.TextAreaFor(model => model.Description)</td>
            <td>@Html.ValidationMessageFor(model => model.Description)</td>
        </tr>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.Price)</label></td>
            <td>@Html.EditorFor(model => model.Price)</td>
            <td>@Html.ValidationMessageFor(model => model.Price)</td>
        </tr>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.ImageName)</label></td>
            <td><input id="file" name="file" type="file" /></td>
            <td>@Html.ValidationMessageFor(model => model.ImageName)</td>
        </tr>
        <tr>
            <td class="title"><label>@Html.DisplayNameFor(model => model.Availability)</label></td>
            <td>@Html.EditorFor(model => model.Availability)</td>
            <td>@Html.ValidationMessageFor(model => model.Availability)</td>
        </tr>
    </tbody>
</table>
<div class="actions">
        <input type="submit" value="Zapisz" class="btn btn-inverse"/> | <input type="reset" value="Reset" class="btn btn-inverse"/>
</div>
}
