@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Product>

@{
    ViewBag.Title = "Produkty";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("dodaj produkt", "Create", "Product")</li>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<div class="search">
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        @Html.TextBox("name")
        <input type="submit" value="Szukaj" />
    }
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Typ</th>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Dostępność</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var product in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => product.Id)</td>
        <td>@ProductHelpers.DisplayTypeName(product.Type)</td>
        <td>@Html.DisplayFor(modelItem => product.Name)</td>
        <td>@PriceFormatHelper.DisplayFormatPrice(product.Price)</td>
        <td>@Html.DisplayFor(modelItem => product.Availability)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id=product.Id }) |
            @Html.ActionLink("edycja", "Edit", new { id=product.Id }) |
            @Html.ActionLink("usuń", "Delete", new { id=product.Id })
        </td>
    </tr>
}
    </tbody>
</table>
