@using EasyERP.Helpers
@model EasyERP.Areas.Admin.ViewModels.OrderDetailsViewModel

@{
    ViewBag.Title = "Zamówienia - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("pokaż szczegóły klienta", "Details", "Customer", new { id = Model.Order.CustomerId }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>Klient</td>
            <td>@Html.DisplayFor(model => model.Order.Customer.Name)</td>
        </tr>
        <tr>
            <td>Data zamówienia</td>
            <td>@Html.DisplayFor(model => model.Order.CreatedAt)</td>
        </tr>
        <tr>
            <td>Stan zamówienia</td>
            <td>@OrderHelpers.DisplayStateName(Model.Order.State)</td>
        </tr>
    </tbody>
</table>

<table class="display-summary">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th>Cena</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>@ProductHelpers.DisplayTypeName(Model.Order.ProductType)</th>
            <th>@Html.DisplayFor(model => model.Order.ProductName)</th>
            <td>@PriceFormatHelper.DisplayFormatPrice(@Model.Order.ProductPrice)</td>
        </tr>

        @foreach (var orderItem in Model.Order.OrderItems) {
        <tr>
            <th>@MaterialHelpers.DisplayTypeName(orderItem.MaterialType)</th>
            <th>@Html.DisplayFor(modelItem => orderItem.MaterialName)</th>
            <td>@PriceFormatHelper.DisplayFormatPrice(orderItem.Price)</td>
        </tr>
        }

        <tr>
            <th colspan="2"></th>
            <td>@PriceFormatHelper.DisplayFormatPrice(Model.TotalPrice)</td>
        </tr>
    </tbody>
</table>
