@model EasyERP.Areas.Admin.ViewModels.OrderDetails

@{
    ViewBag.Title = "Zamówienia - Szczegóły";
}

<h2>Details</h2>

<fieldset>
    <legend>Order</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order.Customer.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Customer.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order.CreatedAt)
    </div>
</fieldset>


<table class="display-records">
    <thead>
        <tr>
            <th>
                ?
            </th>
            <th>
                ?
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@{int i = 0;}
@foreach (var orderItem in Model.OrderItems) {
    <tr class="row@(i % 2)">
        <td>@Html.DisplayFor(modelItem => orderItem.Name)</td>
        <td>@Html.DisplayFor(modelItem => orderItem.Price)</td>
    </tr>
i = i + 1;
}
    </tbody>
</table>
