@using EasyERP.Helpers
@model EasyERP.Areas.Admin.ViewModels.OrderDetails

@{
    ViewBag.Title = "Zamówienia - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("Odśwież", "Details", "Order")</li>
    </ul>
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>Klient</td>
            <td>@Html.DisplayFor(model => model.Order.Customer.Name)</td>
        </tr>
        <tr>
            <td>Produkt</td>
            <td>@Html.DisplayFor(model => model.Order.ProductName)</td>
        </tr>
        <tr>
            <td>Data zamówienia</td>
            <td>@Html.DisplayFor(model => model.Order.CreatedAt)</td>
        </tr>
        <tr>
            <td>Stan zamówienia</td>
            <td>@Html.DisplayOrderStateName(Model.Order.State)</td>
        </tr>
    </tbody>
</table>

<table class="display-summary">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th>Cena</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>@Html.DisplayProductTypeName(Model.Order.ProductType)</th>
            <th>@Html.DisplayFor(model => model.Order.ProductName)</th>
            <td>@Html.DisplayPolishFormatPrice(@Model.Order.ProductPrice)</td>
        </tr>

@foreach (var orderItem in Model.OrderItems) {
        <tr>
            <th>@Html.DisplayMaterialTypeName(orderItem.MaterialType)</th>
            <th>@Html.DisplayFor(modelItem => orderItem.MaterialName)</th>
            <td>@Html.DisplayPolishFormatPrice(orderItem.Price)</td>
        </tr>
}

        <tr>
            <th colspan="2"></th>
            <td>@Html.DisplayPolishFormatPrice(Model.TotalPrice)</td>
        </tr>
    </tbody>
</table>
