@using EasyERP.Helpers
@model EasyERP.Models.Order

@{
    ViewBag.Title = "Zamówienia - Szczegóły";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("pokaż szczegóły klienta", "Details", "Customer", new { id = Model.CustomerId }, null)</li>
        <li>@Html.ActionLink("odśwież", "Details")</li>
    </ul>
</div>

<div class="display-order-states-form">
    @using (Html.BeginForm()) {
        @Html.Hidden("CurrentVersion")
        @Html.DropDownList("state", @OrderHelpers.GetSelectList())
        <input type="submit" value="Zapisz" class="btn btn-inverse"//>
    }
</div>

<table class="display-record">
    <tbody>
        <tr>
            <td>Klient</td>
            <td>@Html.DisplayFor(model => model.Customer.Name)</td>
        </tr>
        <tr>
            <td>Data zamówienia</td>
            <td>@Html.DisplayFor(model => model.CreatedAt)</td>
        </tr>
        <tr>
            <td>Stan zamówienia</td>
            <td>@OrderHelpers.DisplayStateName(Model.State)</td>
        </tr>
    </tbody>
</table>

<table class="display-summary">
    <thead>
        <tr>
            <th colspan="2"></th>
            <th>Cena</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <th>@ProductHelpers.DisplayTypeName(Model.ProductType)</th>
            <th>@Html.DisplayFor(model => model.ProductName)</th>
            <td>@PriceFormatHelper.DisplayFormatPrice(@Model.ProductPrice)</td>
        </tr>

        @foreach (var orderItem in Model.OrderItems) {
        <tr>
            <th>@MaterialHelpers.DisplayTypeName(orderItem.MaterialType)</th>
            <th>@Html.DisplayFor(modelItem => orderItem.MaterialName)</th>
            <td>@PriceFormatHelper.DisplayFormatPrice(orderItem.Price)</td>
        </tr>
        }

        <tr>
            <th colspan="2"></th>
            <td>@PriceFormatHelper.DisplayFormatPrice(ViewBag.TotalPrice)</td>
        </tr>
    </tbody>
</table>
