@model IEnumerable<EasyERP.Models.Order>

@{
    ViewBag.Title = "Zamówienia";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("Odśwież", "Index", null, null)</li>
    </ul>
</div>

<table class="display-records">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@{int i = 0;}
@foreach (var order in Model) {
    <tr class="row@(i % 2)">
        <td>@Html.DisplayFor(modelItem => order.Customer.Name)</td>
        <td>@Html.DisplayFor(modelItem => order.Name)</td>
        <td>@Html.DisplayFor(modelItem => order.CreatedAt)</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=order.Id }) |
            @Html.ActionLink("Details", "Details", new { id=order.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=order.Id })
        </td>
    </tr>
i = i + 1;
}
    </tbody>
</table>
