@using EasyERP.Helpers
@model IEnumerable<EasyERP.Models.Order>

@{
    ViewBag.Title = "Zamówienia";
}

<div class="actions">
    <ul>
        <li>@Html.ActionLink("odśwież", "Index")</li>
    </ul>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Klient</th>
            <th>Produkt</th>
            <th>Data zamówienia</th>
            <th>Stan zamówienia</th>
            <th>Kontrolki</th>
        </tr>
    </thead>

    <tbody>
@foreach (var order in Model) {
    <tr class="@OrderHelpers.GetStateClass(order.State)">
        <td>@Html.DisplayFor(modelItem => order.Id)</td>
        <td>@Html.DisplayFor(modelItem => order.Customer.Name)</td>
        <td>@Html.DisplayFor(modelItem => order.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => order.CreatedAt)</td>
        <td>@OrderHelpers.DisplayStateName(order.State)</td>
        <td>
            @Html.ActionLink("pokaż szczegóły", "Details", new { id=order.Id }) |
            @Html.ActionLink("dane klienta", "Details", "Customer", new { id=order.Id }, null)
        </td>
    </tr>
}
    </tbody>
</table>
