@model EasyERP.Models.Part

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Part</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Supplier.NIP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Supplier.NIP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Availability)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Availability)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
