@model EasyERP.Models.Product
@using EasyERP.Helpers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
        <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
         @Html.HiddenFor(model => model.Name)
         @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ImageName)
        @Html.DisplayFor(model => model.ImageName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-field">
        @Html.ActionLink("Wybierz Wypełnienie", "../Products/MaterialList", new { page=1, type=1, returnurl=ViewBag.ReturnUrl })
        @ViewBag.MaterialFill
    </div>
    <div class="display-field">
        @Html.ActionLink("Wybierz Obicie", "../Products/MaterialList", new { page=1, type=2, returnurl=ViewBag.ReturnUrl })
        @ViewBag.MaterialUp
    </div>
      <p>
            <input type="submit" value="Create" />
        </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
