@model EasyERP.Models.Product
@using EasyERP.Helpers
@using EasyERP.Models

@{
    ViewBag.Title = "Szczegóły Produktu";
}
<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span2">
                <h4>@Html.ActionLink("Lista Produktów",  "Index", "Products")</h4>
                <ul class="nav nav-list">
                @foreach (var category in ProductHelpers.GetCategories())
                { <li>@Html.ActionLink(@category, "../Products/List/1/"+ ProductHelpers.GetIdOnCatogory(category))</li>
                }
                </ul>
            </div>
            <div class="span10">
                <h5>Szczegóły produktu:</h5>
                @using (Html.BeginForm()) {
                @Html.HiddenFor(model => model.Id)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <p><h2>@Html.DisplayFor(model => model.Name)</h2></p>
                <div class="row">
                    <div class="span3">
                    @Html.ActionLink(" ", "MaterialList", "Products", new { id = Model.Id, type = Model.TypeId  }, new { style = "background: url('"+Url.Content("~/Images/Products/") + Model.ImageName + "') no-repeat center right; display:block; height:200px; width:200px; background-size: cover;" })

                    @foreach (var i in ViewBag.ConfigurationList)
                    {
                    string Name = @i.MaterialType.Name;
                    int Type = @i.MaterialType.Id;
                    
                    <div class="span3">@Html.ActionLink("Wybierz: "+@Name, "../Products/MaterialList", new { page = 1, type = Type, category = ViewBag.Category, returnurl = ViewBag.ReturnUrl })</div>
                    }

                    </div>
                    <div class="span6">
                        <h5>@Html.DisplayNameFor(model => model.Description) produktu :</h5>
                        @Html.DisplayFor(model => model.Description)
                        <h5>Cena podstawowa: @Html.DisplayFor(model => model.Price) zł</h5>
                        @Html.HiddenFor(model => model.Price)
                    </div>
                    <div class="span8">
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Cena</th>
                            <th>Kontrolki</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Podstawa </td>
                            <td>@Html.DisplayFor(model => model.Price)</td>
                            <td class="disabled"></td>
                        </tr>
                    @foreach (var configuration in ViewBag.ConfigurationList)
                    {
                        Material material = @MaterialHelpers.GetMaterial(configuration.MaterialTypeId, @ViewBag.Chosen);
                        <tr>
                            <td>@material.Name</td>
                            <td>@material.Price</td>
                            @if(material.Type != null){
                            <td>@Html.ActionLink("Wybierz: " + material.Type.Name  , "../Products/MaterialList", new { page = 1, type = configuration.MaterialTypeId, category = ViewBag.Category, returnurl = ViewBag.ReturnUrl })</td>
                            } else {
                            <td>@Html.ActionLink("Wybierz: " , "../Products/MaterialList", new { page = 1, type = configuration.MaterialTypeId, category = ViewBag.Category, returnurl = ViewBag.ReturnUrl })</td>
                            }
                        </tr>
                    }
                        <tr>
                            <td>Suma</td>
                            <td>@ViewBag.Sum</td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
                if (ViewBag.NotSet == 0){
                <div class="span6">
                    <input type="submit" value="Dodaj do koszyka!" class="btn btn-success"/>
                </div>
                } else {
                <div class="alert alert-info span7">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Uwaga!</strong> Przed zamówieniem musisz skonfigurować produkt.
                </div>
            }} @*End of validation summary*@
            </div>
    </div>
</div>
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
