@model IEnumerable<EasyERP.Models.Product>
@using PagedList.Mvc; 
@using PagedList; 
@using EasyERP.Helpers;
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="span2">
    <h4>@Html.ActionLink("Lista Produktów",  "Index", "Products")</h4>
        <ul class="nav nav-list">
            @foreach (var category in ProductHelpers.GetCategories())
            { <li>@Html.ActionLink(@category, "../Products/List/1/"+ ProductHelpers.GetIdOnCatogory(category))</li> }
        </ul>
    </div>
    <div class="span9">
        <div class="row">
    @foreach(var product in ViewBag.OnePageOfProducts){
        <div class="span3">
            <div class="row">
            <div class="span3"><h4>@product.Name</h4></div>
            <div class="span3"><p>@Html.ActionLink(" ", "../Products/Details", new { id = product.Id }, new { style = "background: url('"+Url.Content("~/Images/Products/") +product.ImageName+"') no-repeat center right; display:block; height:200px; width:200px; background-size: cover;" })</p></div>
            <div class="span3"><p>Cena: @PriceFormatHelper.DisplayFormatPrice(product.Price)</p></div>
            <div class="span3"><p>@Html.ActionLink("Więcej", "../Products/Details", new { id=product.Id })</div>
            </div>
        </div>
    }
</div>
<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
</div>
</div>
<div class="span6 offset5">@Html.PagedListPager( (IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }) )</div>